
<div class="row" data-var="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="input-group add-on" data-var="searchController">
            <input class="form-control" placeholder="Search" type="text" data-var="searchText">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" data-var="search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</div>
<div data-var="resultContainer" class="well tiles-container">

</div>
